* {
  margin: 0;
  list-style: none;
  padding: 0;
  text-decoration: none;
}
body {
  background-color: #ebe9e171;
}
.app-title {
  font-size: 100px;
  font-weight: 100;
  text-align: center;
  color: rgba(175, 47, 47, 0.15);
}
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.App > *{
  width: 500px;
}



